# Metals (Scala language server) specific
.metals/
.bloop/
.bsp/

# sbt specific
target/
project/target/
project/project/
project/src_managed/
project/project/project/
lib_managed/
src_managed/
.history

# Worksheets (e.g., Ammonite)
*.worksheet.sc

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
*.ipr
*.sw?

# Eclipse specific
.bin/
.cache-main
.cache-tests
.classpath
.project
.settings/
.scala_dependencies
.worksheet

# Ignore everything inside datasets/
datasets/fib25_neo4j_inputs
datasets/mb6_neo4j_inputs
datasets/LDBC/ldbc_inputs1
datasets/LDBC/ldbc_inputs2
datasets/LDBC/ldbc_inputs3
datasets/LDBC/ldbc_inputs4

# Keep all .zip files inside datasets/ (even in subdirectories)
!datasets/**/*.zip
noisy_datasets/*
output/*

.metals/metals.mv.db
/.metals
schemadiscovery/hashed_data.parquet/._SUCCESS.crc
/schemadiscovery/hashed_data.parquet
/schemadiscovery/merged_patterns.parquet
schemadiscovery/patterns_and_rows.ser
schemadiscovery/.env

../.DS_Store
../.metals/metals.mv.db
load.txt
.DS_Store
